---
layout: none
---

<!DOCTYPE html>
<html class="theme-dark">
  <head>
    {% include head.html %}
  </head>
  <body style="font-family: JetBrains Mono, monospace;
    font-optical-sizing: auto;
    font-style: normal;">

    {% include heading.html backgroundcolor=site.backgroundcolor headingcolor=site.headingcolor fncolor=site.fncolor %}

    <h2 class="title is-size-5 pl-4 pr-4 mt-5">Whoops could not find what you are looking for</h2>

    <section class="">
      <div class="buttons">
        <a class="button" href="/">"Help me!</a>
      </div>
    </section>
  </body>
</html>
