<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    {% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

    {% include head-custom.html %}
  </head>
  <body>
    <section class="section">

      <div class="container.content">
        <h1 style="color: {{page.backgroundcolor}}">{{}} {{page.lib}}/{{page.fn}}</h1>
        {{page.fncolor}}
        {{ content }}
      </div>
    </section>
  </body>
</html>
