<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    {% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/panda-syntax-dark.min.css"> -->

    {% include head-custom.html %}
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/whats-that-function" style="color=black; background-color:{{page.headingcolor}}">
          WHAT'S THAT FUNCTION
        </a>
      </div>
    </nav>

    <section class="section">

      <div class="container.content">
        <h1 style="color: {{page.backgroundcolor}}">{{}} {{page.lib}}/{{page.fn}}</h1>
        {{page.fncolor}}
        {{ content }}
      </div>
    </section>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script> -->

    <!-- and it's easy to individually load additional languages -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/clojure.min.js"></script> -->

    <!-- <script>hljs.highlightAll();</script> -->
  </body>
</html>
